@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btn {
  @apply bg-black text-white px-5 py-2 rounded-lg hover:bg-gray-800;
}

.input {
  @apply border border-gray-300 rounded px-3 py-2 w-full;
}